airflow/logs/*
airflow/dags/__pycache__/*
__pycache__

**/logs/scheduler

/oauth-skeleton2/client/node_modules
/oauth-skeleton2/server/node_modules
/oauth-skeleton2/client/.DS_Store
/oauth-skeleton2/server/.DS_Store
/oauth-skeleton2/.DS_Store
.DS_Store

# production
/oauth-skeleton2/client/build

# local DB
/sqlite-standin/kdp4SolutionsDB
/sqlite-standin/deps
/sqlite-standin/Untitled.ipynb
/sqlite-standin/.ipynb_checkpoints

# map geometry files
/oauth-skeleton2/client/src/Colorado.json
/oauth-skeleton2/client/src/denver_partial.json
/oauth-skeleton2/client/src/export.json
